body{
    background-color: #FFF

}

h7 {
    font-size: 12px;
    font-weight: bold;
}

#markDetails{
    background-color: #ddd;
    font-size: 10px;
    padding:5px;
}

.btn-txt{
    font-size: 12px;
    vertical-align: sub;
    /* margin-top: 20%; */
    line-height: 1em;
    display:inline-block;
}

td, tr{
    border-bottom: 0px
}

td, th{
    text-align: center;
    color:#333;
    background-color:#F8F8F8;
    vertical-align: middle;
    border-top:0px;
}

.table>tbody>tr>td{
    border-top: 0px;
}

table {
    height: 100%;
    padding-left: 15px;
    border-right: #e7e7e7 solid 2px;

}

td:hover{
    background-color: #F0F0F0;
    cursor:pointer;

}

.activebutton{
    background-color: #F0F0F0;
    font-weight:bold;

}


#vizContainer{
    padding:0px;
    /* border:red solid 1px */

}

#btn-column{
    padding:0px;
}

#tableau>div{
    height:100%;
}

#tableau{
    display: flex;
    flex: 1 1 100%;
    >:first-child{
      flex:1 1 12%;
      margin: 0px;
      height: 100% !important;
    }
    .table{
        margin: 0px;
    }
    #tableauViz{
        height: 100% !important;
        overflow: hidden;
    }
    :nth-child(2){
        flex: 1 1 88%;
    }
}


.invisible{
    visibility: hidden
}

#load-btn{
    position:absolute;
    top:40%;
    left: 43%;
    visibility: hidden;
}
