<div class="all-container">
  <nav class="navbar navbar-default" *ngIf="!router.url.includes('homepage')">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand white" routerLink="/homepage">Group Bold App/Location Analytics</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a class="white" routerLink="/tableau">Tableau</a></li>
          <li class="dropdown">
            <a  class="white dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Recommenders<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a routerLink="/recommender/similar">Similar User Recommender</a></li>
              <li><a routerLink="/recommender/user">User Recommender</a></li>
              <li><a routerLink="/recommender/app">App Recommender</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <router-outlet></router-outlet>
</div>
