/* You can add global styles to this file, and also import other style files */@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@white: #f0f0f0;
@black: #555555;
@box-shadow:#888888;
@green-gold:#b4a662;
@dark-green-gold:#7c713c;

body {
    background-size: cover;
}
.title {
    font-size: 24px;
}
.router{
    flex: 1 1 95%;
    overflow: hidden;
}
nav{
    background: #4682B4 !important;
}
.white{
    color: @white !important;
}
button{
    background:#4682B4 !important;
    color: @white !important;
}
.open>a{
    color:@black !important;
}
app-tableau {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.navbar-brand {
    font-size: 16px !important;
}